Checks: >
  bugprone-*,
  -bugprone-macro-parentheses,
  performance-*,
  portability-*,
  readability-*,
  readability-magic-numbers,
  llvm-header-guard,
  llvm-include-order,
  clang-analyzer-cplusplus.InnerPointer