Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  llvm-header-guard,
  llvm-include-order,
  clang-analyzer-cplusplus.InnerPointer
